<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Queijos da Dona Ana", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= button_to("Logout button", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }) %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <li>
          <%= link_to "#" do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
